$clr-shadow: rgba(0, 0, 0, 0.16);
$clr-bg: rgba(13, 13, 13, 1);
$clr-primary: rgba(114, 114, 114, 1);
$clr-secondary: rgba(40, 40, 40, 1);
$clr-vein: rgba(255, 99, 71, 1);
$clr-warning: rgba(255, 99, 71, 1);
$clr-error: rgba(255, 39, 39, 1);
$clr-success: rgba(71, 255, 156, 1);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
}

.marker {
  position: relative;
  &__inner {
    color: white;
  }

  &__button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 99, 71, 0.4);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 250ms;
    outline: none;
    &:hover {
      border: 5px solid tomato;
      background-color: brown;
    }
    &.--selected {
      border: 5px solid tomato;
      // background-color: rgb(0, 110, 255);
      background-color: #070707;
    }
  }
}

.logo {
  width: 64px;
  height: 64px;
  padding: 16px;
  border-radius: 8px;
  background-color: $clr-bg;
  box-shadow: 0 3px 6px $clr-shadow;
  z-index: 100;
  cursor: default;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.snackbar {
  width: 320px;
  padding-bottom: 8px;
  border-radius: 8px;
  background-color: $clr-bg;
  box-shadow: 0 3px 6px $clr-shadow;
  z-index: 100;
  &__inner {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 16px;
    flex-direction: row;
  }
  &__icon {
    display: flex;
    width: 16px;
    z-index: 10;
  }
  &__message {
    padding-inline-start: 8px;
    width: 100%;
    span {
      color: $clr-primary;
      line-height: 1.5;
    }
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 24px;
  height: 100%;
  position: relative;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}

.mapbox {
  // z-index: 1;
  // position: fixed;
}

.info {
  max-width: 330px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data {
  max-width: 330px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  padding: 16px;
  width: 320px;
  min-height: 96px;
  border-radius: 8px;
  background-color: $clr-bg;
  box-shadow: 0 3px 6px $clr-shadow;
  z-index: 100;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    color: $clr-primary;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
  }
  &__icon {
    svg {
      fill: $clr-primary;
    }
  }

  &__block {
    &.--v-centered {
      display: flex;
      align-items: center;
      // justify-content: center;
    }
  }
}

.mapbox-logo,
.mapboxgl-ctrl-logo {
  display: none !important;
}

.national {
  &__cases {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
    .info {
      display: flex;
      flex-direction: row;
      align-items: center;
      .dot {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        // background: black;
        margin-inline-end: 8px;
        &.--active {
          background-color: $clr-warning;
        }
        &.--recovered {
          background-color: $clr-success;
        }
        &.--fatal {
          background-color: $clr-error;
        }
      }
    }
  }
}

.typography {
  &__large {
    margin-bottom: 8px;
    color: $clr-vein;
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 700;
  }
  &__regular {
    color: $clr-primary;
    font-size: 1rem;
    font-weight: 400;
    &.--badge {
      padding: 2px 4px;
      border-radius: 8px;
      background-color: $clr-secondary;
      font-weight: 500;
      margin-inline-start: 12px;
    }
    
  }
}